body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50vw 0vh;
  transform: scaleY(0.5);
  position: absolute;
  top: 0;
  left: 0; 
  width: 80%;
  height: 80%;
  padding: 10%;
}
.bt {
-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
box-shadow:inset 0px 1px 0px 0px #54a3f7;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
background-color:#007dc1;
-moz-border-radius:9px;
-webkit-border-radius:9px;
border-radius:9px;
border:1px solid #124d77;
outline: 2px ridge #005685;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:14px;
padding:1vw 3vh;
text-decoration:none;
text-shadow:0px 1px 0px #154682;
transition:
  all 0.75s ease;
box-shadow: 0px 0px 6px #0006ad;
}
.bt:hover {
transition:
  all: 0.5s ease-in-out;
  filter: 6s ease-in-out;
filter: hue-rotate(45deg) saturate(1.2) contrast(1.25);
padding: 2vw 6vh;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
background-color: #0061a7;
outline: 2px ridge #007dc1;
box-shadow: 0px 0px 26px #8c00ff;
font-size: 18px;
}
.bt:active {
position:relative;
top:1px;
}
.bt.clicked {
  filter: hue-rotate(-10deg) saturate(1.2) contrast(1.25);
  padding: 1.5vw 4vh;
}
#btStartAudioVisualization {
  position: absolute;
  transform-origin: 50vw 50vh;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));

}