extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  a#btStartAudioVisualization.bt Start Audio Visualization
  p#txtStatus
block scripts
  script(src='/javascripts/index.js')
