extends layout

block head
  link(rel='stylesheet', href='/stylesheets/soundscape.css')

block content
  // no-op content (script-driven page)

block scripts
  script(src='/javascripts/soundscape.js')